.footer {
    background-color: #304E5D;
    min-height: 10vh;
    padding-bottom: 10px;
    padding-top: 10px;
}

.footerr {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-around;
    align-items: center;
}

.footer_item2 {
    display: flex;
    align-items: center;
    justify-content: right;
}

.footer_text {
    font-family: 'Bebas', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.footer_text_l {
    font-family: 'Bebas', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #fff;
    text-align: center;
}