.hero_section {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    /* column-gap: 10%; */
    min-height: 90vh;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
}

.hero_first,
.hero_second {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
}

.hero_second {
    align-items: center;
}

.hero_second .hero_img {
    width: 80%;
    border-radius: 30px;
    border: #FA5F46 1px solid;
}

.title {
    font-size: 100px;
    font-family: 'Futura', sans-serif;
    line-height: 100%;
    padding: 0;
    display: inline-block;
    display: block;
}

.title::before,
.title::after {
    content: '';
    display: block;
    height: 0;
    width: 0;
}

.subtitle {
    font-size: 100px;
    font-family: 'Cartonnage OT', sans-serif;
    line-height: 100%;
    padding: 0;
    display: inline-block;
    display: block;
    margin-top: -100px;
}

.subtitle::before,
.subtitle::after {
    content: '';
    display: block;
    height: 0;
    width: 0;
}

.text_hero {
    margin-top: -50px;
}

.latest_work {
    width: 90%;
    margin: auto;
    display: grid;
    /* grid-template-columns: 50% 50%; */
    padding-top: 40px;
    justify-content: stretch;
}

.latest_work .subtitle {
    font-size: 40px;
    color: #ffff;
    text-align: center;
}

.l_column {
    text-align: center;
}

.l_column img {
    /* background-image: url('./images/work/anger.png'); */
    width: 50%;
}

.l_column p {
    width: 50%;
    margin: auto;
    text-align: left;
}


/* skills */

.skills_grid {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-evenly;
    align-items: center;
}

.skills_full_container {
    text-align: left;
}

.skill_txt {
    font-size: 30px;
    font-family: 'Cartonnage OT', sans-serif;
    line-height: 0px;
    /* color: #fff; */
}

.skill_container {
    background-color: #ddd;
    border-radius: 30px;
}

.skills_2 {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    padding-right: 10px;
    border-radius: 30px;
    /* width: 90%; */
    background-color: #FA5F46;
    font-family: sans-serif;
}

.wordpress {
    width: 80%;
}

.html {
    width: 100%;
}

.css {
    width: 100%;
}

.react {
    width: 100%;
}

.react_native {
    width: 90%;
}

.javascript {
    width: 100%;
}

.nodejs {
    width: 100%;
}

.express_js {
    width: 100%;
}

.vue_js {
    width: 80%;
}

.bootstrap {
    width: 100%;
}

rest_apis {
    width: 100%;
}

.jquery {
    width: 100%;
}

.firebase {
    width: 100%;
}

.gemini {
    width: 100%;
}

.socials {
    display: flex;
    column-gap: 10px;
}

.socials .icon a {
    border-bottom: #FA5F46 .1px solid;
}

.socials .icon a svg {
    transition: .5s ease-in-out;
}

.socials .icon a:hover>svg {
    transform: scale(1.1);
}

@media (max-width:1342px) {
    .hero_section {
        width: 90%;
        margin: auto;
        display: grid;
    }
}

@media (max-width:1342px) {
    .title,
    .subtitle {
        font-size: 40px;
        line-height: 100%;
        margin: 0px;
    }
    .text_hero {
        margin-top: 20px;
    }
    .subtitle_v2 {
        text-align: center;
        font-size: 40px;
        line-height: 100%;
        /* margin-top: -100px; */
        font-size: 40px!important;
        line-height: 150%!important;
        margin: 0px;
    }
    .hero_section {
        min-height: 70vh;
    }
    .skill_txt {
        font-size: 18px;
    }
    .skills_2 {
        font-size: 14px!important;
    }
}

@media (max-width:800px) {
    .hero_section {
        grid-template-columns: 100%;
        padding-top: 100px;
    }
    .hero_second .hero_img {
        width: 50%;
        border-radius: 30px;
        border: #FA5F46 1px solid;
    }
    .title,
    .subtitle,
    .text_hero {
        text-align: center;
    }
    .socials,
    .btn_holder {
        align-items: center;
        justify-content: center;
    }
    .skills_grid {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 45% 45%;
        column-gap: 10%;
    }
    .work_section {
        display: grid;
        grid-template-columns: 45% 45%!important;
        row-gap: 20px!important;
    }
    .btn {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        font-size: 20px;
        text-align: center;
    }
    .contact_section {
        width: 100%!important;
    }
}

@media (max-width:500px) {
    .skills_grid {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 100%;
        column-gap: 10%;
    }
    .hero_img {
        width: 100%;
    }
    .title,
    .subtitle {
        /* font-size: 70px; */
        line-height: 120%;
    }
    .text_hero {
        text-align: center;
    }
}